
# BEGIN EnvatoBackup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=238ad7f306c677c6d7beef9b4cdbe9b7
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup
